<div id="side-nav">
  <div>
    <i id="create-icon" class="material-icons">add</i>
    <p id="create" class="nav-text" (click)="initLoginModal()">Create Template</p>
  </div>
  <div>
    <i id="members-icon" class="material-icons">create</i>
    <p id="members" class="nav-text">Use Template</p>
  </div>



</div>
<div>
  <form onsubmit="console.log('success')">
    <div id="searchbar" class="input-field">
      <input id="search" type="search" required placeholder="Search">
      <i class="material-icons">close</i>
    </div>
  </form>
  <p id="folder">{{folders.name}}</p>
  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start" id="folder">
    <div class="folders" *ngFor="let template of templates">
      <a fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%"
        class="waves-effect waves-light btn col s12 m4 l2 cardListItem" [routerLink]="['/template', template.id]"><i
          class="material-icons left">folder</i>{{template.name}}</a>
    </div>
  </div>
</div>
