#side-nav {
	position: absolute;
	width: 239px;
	height: 100%;
	left: 0px;
	top: 0px;

	background: #011a27;
}

.nav-text {
	font-size: 18px;
	line-height: 12px;
	/* or 67% */

	color: #ffffff;
}

#create {
	position: absolute;
	left: 59px;
	top: 33.58px;
	width: 151px;
	height: 26px;
}

#create-icon {
	position: absolute;
	left: 19.42px;
	top: 43.7px;
	font-size: 29.17px;
	color: #e6df44;
}

#members-icon {
	position: absolute;
	left: 19.42px;
	top: 101px;
	font-size: 29.17px;
	color: #e6df44;
}

#members {
	position: absolute;
	left: 59px;
	top: 93px;
	width: 151px;
	height: 26px;
}

#folder {
	position: absolute;
	left: 260px;
	top: 105px;
	font-size: 24px;
	line-height: 100%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #f0810f;
}

#searchbar {
	position: absolute;
	width: 530px;
	height: 56px;
	left: 260px;
	top: 18px;
}

#folder {
	position: absolute;
	left: 260px;
	top: 105px;
	font-size: 24px;
	line-height: 100%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #f0810f;
}

#searchbar {
	position: absolute;
	width: 530px;
	height: 56px;
	left: 260px;
	top: 18px;
}

.folders > a {
	left: 190px;
    top: 176px;
    width: 250px;
    height: 42px;
    float: left;
    margin: 0px 0px 0px 15px;
    text-align: center;
}

#folderRow{
	left: 544px;
	top: 176px;
}

.cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  /* Column Gap */
  .cardList > * {
    box-sizing: border-box;
  }
  .cardList > *:not(:last-child) {
    margin-right: 32px;
  }
  /* Item sizing */
  .cardListItem {
    flex: 0 1 calc(33.3% - 32px);
  }
  /* medium size viewport */
  
@media screen and (max-width: 959px) {
    /* Column Gap */
    .cardList > *:not(:last-child) {
      margin-right: 32px;
    }
    /* Item sizing */
    .cardListItem {
      flex: 0 1 calc(50% - 32px);
    }
  }
  /* small size viewport */
  
@media screen and (max-width: 599px) {
    .cardList {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .cardList > *:not(:last-child) {
      margin-right: unset;
      margin-bottom: 32px;
    }
  }