<div class="jumbotron text-center">
  <h1>Organize.bio</h1>
  <p class="lead">Welcome to our new tool for lab data management </p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-dark" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Simple Yet Powerful</h3>
    <p>Simple to use and can simplify collecting and organziing data</p>
  </div>
  <div class="col-md-4">
    <h3>Trusted Worldwide</h3>
    <p>Trusted by over 100,000 labratories worldwide</p>
  </div>
  <div class="col-md-4">
    <h3>Institutional Organization</h3>
    <p>Connect and collaborate with people from your own and other labs</p>
  </div>
</div>