<div id="side-nav">
  <div>
    <i id="create-icon" class="material-icons">add</i>
    <p id="create" class="nav-text">Create Form</p>
  </div>
  <div>
    <i id="members-icon" class="material-icons">people</i>
    <p id="members" class="nav-text">Add Questions</p>
  </div>


</div>
<div>
  <form onsubmit="console.log('success')">
    <div id="searchbar" class="input-field">
      <input id="search" type="search" required placeholder="Search">
      <i class="material-icons">close</i>
    </div>
  </form>
  <p id="folder">{{template.name}}</p>
  <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start" id="folderRow">
    <div class="folders" *ngFor="let folder of folders">
      <a  fxFlex="0 1 calc(33.3% - 32px)" class="waves-effect waves-light btn col s12 m4 l2" [routerLink]="['/form', form.id]"><i
          class="material-icons left">folder</i>{{forms.name}}</a>
    </div>
  </div>
</div>
