<h2 class="page-header" >Login</h2>
<form class="form-signin" (submit)="onLoginSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" placeholder="Enter Email" [(ngModel)]="email" name="email">
        </div>
        <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" placeholder=" Enter Password"  [(ngModel)]="password" name="password">
        <input class="btn btn-lg btn-primary" type="submit" value="Login">
</form>