#left {
	position: absolute;
	left: 0%;
	right: 55.56%;
	top: 0%;
	bottom: 0%;

	background: #063852;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#right {
	position: absolute;
	width: 55.56%;
	height: 100%;
	left: 44.44%;
	top: 0%;
	background-image: url("../../assets/login.png");
	background-size: 100% 100%;
}

#username {
	position: absolute;
width: 397px;
height: 67px;
left: 99px;
top: 365px;
}

#password {
	position: absolute;
	width: 397px;
	height: 73px;
	left: 99px;
	top: 447px;
}

input, select, textarea{
    color: #ffffff;
}

textarea:focus, input:focus {
    color: #ffffff;
}

input-field label {
	color: #ffffff;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
	color: #ffffff;
  }

 /* label underline focus color */
 .input-field input[type=text]:focus {
	border-bottom: 1px solid #ffffff;
	box-shadow: 0 1px 0 0 #ffffff;
  }
  /* valid color */
  .input-field input[type=text].valid {
	border-bottom: 1px solid #ffffff;
	box-shadow: 0 1px 0 0 #ffffff;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
	border-bottom: 1px solid #ffffff;
	box-shadow: 0 1px 0 0 #ffffff;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
	color: #ffffff;
  }

  .login-icons{
	  color:#ffffff;
  }

#login {
	position: absolute;
	left: 112px;
	top: 563px;
	width: 439px;
	height: 36px;
	background: #f0810f;
	border-radius: 2px;
	font-style: normal;
	font-weight: 500;

	color: #000000;
}

#signup{
	position: absolute;
	left: 112px;
	top: 809px;
	width: 439px;
	height: 36px;
	background: #f0810f;
	border-radius: 2px;
	font-style: normal;
	font-weight: 500;

	color: #000000;
}

#sign-in{
	position: absolute;
left: 107px;
right: 1131px;
top: 28.81%;
bottom: 69.43%;
width: 202px;
height: 18px;
font-weight: 500;
font-size: 18px;
line-height: 24px;
/* or 133% */

text-align: center;
text-transform: uppercase;
	
}

#email{
	position: absolute;
	width: 397px;
	height: 67px;
	left: 99px;
	top: 529px;
}

#institutionId{
	position: absolute;
	width: 397px;
	height: 67px;
	left: 99px;
	top: 693px;
}

#name{
	position: absolute;
	width: 397px;
	height: 67px;
	left: 99px;
	top: 611px;
}

#sign-up{
	position: absolute;
left: 332.5px;
right: 905.5px;
top: 28.81%;
bottom: 69.43%;
width: 202px;
height: 18px;
font-weight: 500;
font-size: 18px;
line-height: 24px;
/* or 133% */

text-align: center;
text-transform: uppercase;


}

#indicator{
	position: absolute;
height: 2px;
width: 226px;
top: 326px;

background: #E6DF44;
}

.no-drag{
	pointer-events: none
}