


  <div id="left">
    
   

     <form id="login-form" class="form-signin">
       <div class="form-group">
     <div class= "row" id="username">
      <div class="input-field col s12">
          <i class="material-icons prefix login-icons">person</i>
        <input  type="text" [(ngModel)]="username" name="username">
        <label class = "no-drag" for="username">Username</label>
      </div>
      </div>
    </div>
      
      <div class="form-group">

     <div class= "row" id="password">
      <div class="input-field col s12">
          <i class="material-icons prefix login-icons">vpn_key</i>
        <input  type="password"  [(ngModel)]="password" name="password">
        <label for="password"  class="no-drag">Password</label>
      </div>
    </div>
      </div>
    <div *ngIf="!signin">
        <div style="left: 321px" id="indicator"></div>
        <p id="sign-up" style="color: #E6DF44" (click)="signin = false">Sign Up</p>
        <p id="sign-in" style="color: rgba(230, 223, 68, 0.5)" (click)="signin = true">Sign In</p>
        <div class="form-group">
            <div class= "row" id="email">
             <div class="input-field col s12">
                 <i class="material-icons prefix login-icons">person</i>
               <input  type="text" [(ngModel)]="email" name="email" >
               <label for="email" class="no-drag">email</label>
             </div>
             </div>
           </div>
             
   <div class="form-group">
      <div class= "row" id="institutionId">
       <div class="input-field col s12">
           <i class="material-icons prefix login-icons">person</i>
         <input  type="text" [(ngModel)]="institutionId" name="institutionId">
         <label for="institutionId" class="no-drag">institutionId</label>
       </div>
       </div>
     </div>

     <div class="form-group">
        <div class= "row" id="name">
         <div class="input-field col s12">
             <i class="material-icons prefix login-icons">person</i>
           <input  type="text" [(ngModel)]="name" name="name" >
           <label for="name" class="no-drag">name</label>
         </div>
         </div>
        </div>
       
       <div class="form-group">
     <button class="waves-effect waves-light btn" type="submit" (click)="onSignupSubmit()" id="signup">Signup</button>
 </div>
</div>
<div *ngIf="signin">
    <div id="indicator" style="left: 95px"></div>
    <p id="sign-up"  style="color: rgba(230, 223, 68, 0.5)" (click)="signin = false">Sign Up</p>
    <p id="sign-in" style="color: #E6DF44" (click)="signin = true">Sign In</p>
      <button class="waves-effect waves-light btn" type="submit" (click)="onLoginSubmit()" id="login">LOGIN</button>  
</div>  
     </form>
  </div>
  <div id="right"></div>
